APP_NAME=exploding-kittens-backend
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000
APP_DEBUG=true
APP_DATABASE_URL=postgresql://postgres:postgres@db:5432/boardgame
APP_CORS_ORIGINS=["http://localhost:3000"]
APP_SOCKET_IO_PATH=socket.io
